@(username: String, post: Post = Post())

<!doctype HTML>
<html>
<head>
    <title>Create a new post</title>
</head>
<body>
    Welcome @username <a href="/logout">Logout</a> | <a href="/">Blog Home</a>

    <p>
    
<form action="/newpost" method="POST">
    @post.errors
    <h2>Title</h2>
    <input type="text" name="subject" size="120" value="@post.subject"><br>

    <h2>Blog Entry
        <h2>
            <textarea name="body" cols="120" rows="20">@post.body</textarea><br>

            <h2>Tags</h2>
            Comma separated, please<br>
            <input type="text" name="tags" size="120" value="@post.tags"><br>

            <p>
                <input type="submit" value="Submit">

</body>
</html>
 